.propertyTypeCard {
  margin: 1rem 1rem;
  cursor: pointer;
}

.propertyTypeCard .title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-grey-2);
  margin-bottom: 0;
}

.propertyTypeCard p {
  font-size: 1.4rem;
  color: var(--color-grey-0);
}

.propertyTypeCard img {
  border-radius: 3px;
}
