.listContainer {
  position: relative;
}
.hidden {
  overflow: hidden;
}
.resultsList {
  display: flex;
  padding: 2rem 0;
}

.listContainer div > div {
  background-color: white;
}

.buttonLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.buttonLeft:active,
.buttonLeft:focus {
  box-shadow: 0px 0px 0px 3px #0071c260;
}

.buttonRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.buttonRight:active,
.buttonRight:focus {
  box-shadow: 0px 0px 0px 3px #0071c260;
}

.buttonRight:active,
.buttonLeft:active {
  transform: translate(0, -45%);
}
