.map {
  width: 100%;
  height: 20rem;
  background-image: url('https://cf.bstatic.com/psb/capla/static/media/map-entry-point.6b01012a.png');

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.mapPin {
  width: 4rem;
  height: 4rem;
}

.map button {
  font-size: 1.4rem;
  border-radius: 2px;
  color: white;
  padding: 1rem;
  border: none;
  background-color: var(--color-text-1);
}
