@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap';

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-brand--1: #033580;
  --color-brand--2: #febb00;

  --color-text-0: #ffff;
  --color-text-1: #0071c2;
  --color-text-1-opacity: #0071c20e;

  --color-grey-light-0: #e7e7e7;
  --color-grey-light-1: #cfcfcf;
  --color-grey-light-3: #f2f2f2;

  --color-grey-0: #6b6b6b;
  --color-grey-1: #444444;
  --color-grey-2: #222222;
  --color-grey-3: #e7e7e7;

  --color-black-0: #000;

  --color-blue-light--0: #e4f4ff;
  --color-blue-light--0-shaded: #d8edfb;

  --color-blue-light--1: #21498c;
  --color-blue-light--2: #eaf4ff87;
  --color-blue-light--3: #4b76b2;
  --color-blue-bright-01: #0d6be3;
  --color-blue-bright-02: #5cbbff;

  --color-green-1: #008009;

  --shadow-100: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}
/* 
input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
} */

/* input:focus {
  outline: none;
  background-color: #fff;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
} */

/*
"importCSSModule": {
    "prefix": "csm",
    "scope": "javascript,typescript,javascriptreact",
    "body": ["import styles from './${TM_FILENAME_BASE}.module.css'"],
    "description": "Import CSS Module as `styles`"
  },
*/
